openapi: 3.1.0
info:
  title: PlantPal+ REST API
  description: API for the PlantPal+ unified daily-habit tracker (plant care, fitness, nutrition).
  version: 1.0.0
servers:
  - url: https://api.plantpalplus.com
    description: Production Server
  - url: http://localhost:4000
    description: Local Development Server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - message_key
            - request_id
            - timestamp
          properties:
            code:
              type: string
              example: VALIDATION_FAILED
            message:
              type: string
              example: The request failed validation.
            message_key:
              type: string
              example: error.validation_failed
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  issue:
                    type: string
                  message:
                    type: string
            request_id:
              type: string
              example: 5f2c...
            timestamp:
              type: string
              format: date-time
security:
  - bearerAuth: []
paths:
  /api/auth/register:
    post:
      summary: Register a new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '202':
          description: Accepted (Returned whether new or already registered)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: registered
                  message:
                    type: string
                    example: Check your email for a confirmation link.
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/auth/login:
    post:
      summary: Login and get tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '401':
          description: Unauthorized
        '403':
          description: Email not verified
        '429':
          description: Account locked
  /api/auth/refresh:
    post:
      summary: Rotate refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Successfully refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '401':
          description: Unauthorized (or family revoked on reuse)
  /api/auth/logout:
    post:
      summary: Revoke current session
      responses:
        '200':
          description: Successfully logged out
  /api/v1/dashboard:
    get:
      summary: Unified dashboard summary
      parameters:
        - in: query
          name: date
          schema:
            type: string
            format: date
          description: YYYY-MM-DD
      responses:
        '200':
          description: Dashboard summary
          content:
            application/json:
              schema:
                type: object
  /api/v1/sync/outbox:
    post:
      summary: Bulk upsert offline events (FR-SYS-02/03, D-04)
      description: >-
        Drains the client's offline outbox in one batch (max 50 events).
        Events are processed strictly in array order; failures are per-event.
        A replayed idempotency key returns its stored outcome and is never
        reprocessed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    required: [client_idempotency_key, entity_type, payload]
                    properties:
                      client_idempotency_key:
                        type: string
                        format: uuid
                      entity_type:
                        type: string
                        enum: [PLANT_CARE_EVENT, WORKOUT, MEAL, WATER_LOG]
                      payload:
                        type: object
      responses:
        '200':
          description: Per-event outcomes, in request order
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        client_idempotency_key:
                          type: string
                          format: uuid
                        status:
                          type: string
                          enum: [PROCESSED, FAILED]
                        replay:
                          type: boolean
                        entity_id:
                          type: string
                          format: uuid
                          nullable: true
                        error_code:
                          type: string
                          nullable: true
  /api/v1/reminders:
    get:
      summary: List the caller's live and recently delivered reminders
      responses:
        '200':
          description: Reminder list
          content:
            application/json:
              schema:
                type: object
                properties:
                  reminders:
                    type: array
                    items:
                      type: object
  /api/v1/reminders/{id}/dismiss:
    post:
      summary: Dismiss a pending or sent reminder
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reminder cancelled
  /api/v1/plants:
    get:
      summary: List plants
      responses:
        '200':
          description: List of plants
    post:
      summary: Add a new plant
      responses:
        '200':
          description: Plant added
  /api/v1/fitness/workouts:
    get:
      summary: List workouts
      responses:
        '200':
          description: List of workouts
    post:
      summary: Log a workout
      responses:
        '200':
          description: Workout logged
  /api/v1/nutrition/foods/search:
    get:
      summary: Search for foods
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results
  /api/v1/nutrition/meals:
    post:
      summary: Log a meal
      responses:
        '200':
          description: Meal logged
  /api/v1/settings/push-token:
    put:
      summary: Register Expo Push token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Token registered
